@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WindSong:wght@400;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

.width100{
    width: 100%;
}
html{
    scroll-behavior: smooth;
    
}
body{
    font-family: sans-serif;
}
.alignItem{
    align-items: center;
}
.spaceBetween{
    justify-content: space-between;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width:1000px;
	margin: auto;
	width : 100%;
}
body{
    background-color: #18181B;
    
}
.scrollTop{
    scroll-margin-top: 140px;
}
.btn{
    padding: 10px 10px;
    background-color: #001dad;
    color: #fff;
    font-weight: 300;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
}
.link{
    padding-bottom: 0.75rem;
    color: white;
}
.circle {
    height: 70px;
    width: 70px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1; /* so that it stays on top of all other elements */
    filter: blur(90px);
    opacity: 14%;
  }
/*navigation*/
header{
    background-color: #18181B;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
header img{
    width: 10%;
}
header a{
    font-weight: bold;
}
header a:hover{
    color: #243bafbd;
    transition: 0.8s;

}
.displayNone{
    display: none;
}
nav{
    max-width: 1200px;
}
.paddingHeader{
    padding: 1rem 1rem;
}
.navWidth{
    width: 45%;
}
/* From Uiverse.io by JulanDeAlb */ 
.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
/*Hero*/

h1{
margin-top: 250px;
color: #fff;
margin-bottom: 1rem;
font-weight: 700;
width: 100%;
font-size: 40px;
z-index: 200;
}
.imgHero{
    width: 90%;
    margin-top: 12rem;
}
.matteo{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.opacity{
    opacity: 30%;
}
.blur{
    position: absolute;
    background-color: #1d4fd892;
    filter: blur(64px);
    /*box-shadow: 0 0 1000px 45px ;*/
    left: 150px;
    top: 50%;
    width: 150px;
    height: 150px;
    z-index: -1;
    
}
.colorWhite{
    color: white;
    margin-right: 6px;
}
.blur2{
    position: absolute;
    background-color: #ffffff92;
    filter: blur(64px);
    /*box-shadow: 0 0 1000px 45px ;*/
    left: 300px;
    top: 50%;
    width: 150px;
    height: 150px;
    z-index: -1;
}
.blur3{
    position: absolute;
    background-color: #ff000092;
    filter: blur(64px);
    /*box-shadow: 0 0 1000px 45px ;*/
    left: 400px;
    top: 50%;
    width: 150px;
    height: 150px;
    z-index: -2;
}

/* From Uiverse.io by vinodjangid07 */ 
.Btn-Container {
    display: flex;
    width: 170px;
    height: fit-content;
    background-color: #2d3441;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  .icon-Container {
    width: 45px;
    height: 45px;
    background-color: #3c49ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #1d2129;
  }
  .text {
    width: calc(170px - 45px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8em;
    letter-spacing: 1.2px;
  }
  .icon-Container svg {
    transition-duration: 1.5s;
  }
  .Btn-Container:hover .icon-Container svg {
    transition-duration: 1.5s;
    animation: arrow 1s linear infinite;
  }
  @keyframes arrow {
    0% {
      opacity: 0;
      margin-left: 0px;
    }
    100% {
      opacity: 1;
      margin-left: 10px;
    }
  }
  
/*projet*/
.marginProjet{
    margin-top: 300px;
}
h3{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
.imgProjet{
    width: 35%;
    margin-top: 50px;
    border-radius: 30px;
}
.imgProjet:hover{
    transform: scale(2);
}
.card{
	width: 300px;
	border-radius: 30px 30px;
	padding: 10px;
    margin-top: 15px;
}
.card img {
	display: block;
	width: 100%;
    border-radius: 30px;
 
}
.card img :hover{
    transform: scale(1.02);
    object-fit: cover;
    transition: 0.3s;
}
.card p{
    color: #fff;
    margin-bottom: 20px;

}
#logo{
 display: none !important;
}
.column{
    flex-direction: column;
    
}
.spaceCard{
    justify-content: space-evenly;
}
/*a propos*/
.marginToppropos{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}
.width45{
    width: 45%;
}
.imgpropos{
    margin-top: -100px;
    width: 40%;
}
.paragraphe{
    color: #fff;
    line-height: 2.5rem;
}
/*skills*/
.paraSkill{
    color: #fff;
    background-color: #28282e;
    padding: 10px 15px;
    border-radius: 30px;
    display: inline-block;
    

}
.marginSkills{
    margin-top: 30px;
}
/*me contacter*/
.marginTitle{
    margin-top: 50px;
}
.logoWidth{
    width: 20%;
    margin-top: 50px;
}
.logoContact{
    color: #fff;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
}
.logoContact:hover{
    color: #4d35baa1;
    margin-top: 20px;
    font-size: 50px;
    transition: 0.7s;
}
.spaceBetweenmoyen{
    justify-content: space-evenly;
}
/*footer*/
.mentionLegal{
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    margin-left: 550px;
}
.bgFooter{
    background-color: black;
    margin-top: 40px;
}

/*responsive*/
@media all and (max-width: 800px){
  .hideForSmall{
    display: none;
  }
  .large100{
    width: 100%;
  }
  .large50{
    width: 48%;
  }
  .alignTextMedium{
    text-align: center;
    margin-left: 38px;
    margin-top: -100px;
  }
  .container{
    padding: 12px;
  }
  .marginTopSmall{
    margin-top: 14px;
  }
  h1{
    font-size: 26px;
  }
  .appearForSmall{
    display: flex;
  }
  header img{
    width: 48px;
  }
}


