@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.scrollTop{
    scroll-margin-top: 140px;
}
html{
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
}

.width50 {
    width: 50%;
}

.width30 {
    width: 30%;
}

.spaceBetween {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.center {
    justify-content: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    width: 100%
}

.alignItems {
    align-items: center;
}

/*header*/
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #000000;
    padding: 10px 60px;
    top: -70px;
    transition: 0.3s;
}

header.scrolled {
    top: 0;
}

.logo {
    width: 40px;
}


.contactHeader{
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #ff8906, #f25f4c, #e53170);
    width: fit-content;
    padding: 1em 2em;
    border-radius: 30px;
    color: #fff;
}
.btnnav{
    position: relative;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;

}
.btnnav::after{
 content: "";
 position: absolute;
 background-color: #f25f4c;
 height: 3px;
 width: 0;
 left: 0;
 bottom: -10px;
 transition: 0.3s;
}
.btnnav:hover::after{
    width: 100%;
}
/*Hero*/
.center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero {
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    font-family: sans-serif;
    margin-bottom: 10px;
    font-style: italic;
}

h1 {
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rond {
    width: 300px;
    position: absolute;
    left: 140px;
    top: 40px;
    z-index: -1;

}

.divbtn {
    display: inline-block;
}

.cta {
    color: #fff;
    background-color: #000000;
    border: none;
    width: fit-content;
    padding: 1em 2em;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marginnext{
    margin-top: 150px;
}

.cta::after {
    content: '';
    position: absolute;
    width: 102%;
    height: 107%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #ff8906, #f25f4c, #e53170);
    z-index: -1;
}

.cta:hover {
    z-index: 1;

}

/*Mes projet*/
h3 {
    color: #fff;
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    font-family: sans-serif;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.cardList .cardItem .cardLink {
    width: 300px;
    height: 400px;
    user-select: none;
    display: block;
    padding: 18px;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: 0.2s ease;

}

.cardList .cardItem .cardLink:active {
    cursor: grabbing;
}


.cardList .cardLink .cardImg {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cardWrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.cardTitle {
    font-size: 1.19rem;
    color: rgb(255, 255, 255);
    font-weight: 600;

}

.cardWrapper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    opacity: 1;
}

.swiper {
    padding: 50px;
}

.cardWrapper .swiper-slide-button {
    color: #ffffff;
    padding: 80px;
    margin-top: -85px;
}

.swiper-slide-button {
    color: #ffffff;
    margin: -35px;
}

.blob {
    width: 100px;
    position: absolute;
    left: 80px;
    top: 45rem;
    z-index: -1;
}

h4 {
    color: #fff;
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
}

.paracard {
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
}

#titlecarddehors {
    display: none;
    animation: anime 0.1s ease-out;
    padding: 20px;
    position: absolute;
    margin-bottom: 20px;
}

#titlecardruche {
    display: none;
    animation: anime 0.1s ease-out;
    padding: 20px;
    position: absolute;
    z-index: -1;
}

#titlecardtodo {
    display: none;
    animation: anime 0.1s ease-out;
    padding: 20px;
    position: absolute;
    z-index: -1;
}

#titlecardtichef {
    display: none;
    animation: anime 0.1s ease-out;
    padding: 20px;
    position: absolute;
    z-index: -1;
}

.parapropos {
    color: #fff;
    line-height: 44px;
    width: 50%;
}

.moimeme {
    width: 30%;
}

.blobpropos {
    position: absolute;
    width: 30%;
    top: 80rem;
    left: 53rem;
    z-index: -1;
    opacity: 0.7;
}

.blobtitreprop {
    width: 100px;
    position: absolute;
    left: 80px;
    top: 78rem;
    z-index: -1;

}

/*Bento*/
.box1{
    background-image: url(assets/box_bento/finalhtml.jpg);
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 200px 416px;
    border-radius: 20px;
    transition: transform 0.4s;

}
.box1:hover{
    transform: scale(1.05);
}

.box2{
    background: url(assets/box_bento/Boxjavascript.jpg);
    background-repeat: no-repeat;
    background-size: 492px 200px;
    border-radius: 20px;
    transition: transform 0.4s;
}
.box2:hover{
    transform: scale(1.05);
}
.box3{
    background-image: url(assets/box_bento/cssfinal.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 276px 200px;
    transition: transform 0.4s;
}
.box3:hover{
    transform: scale(1.05);
}
.box4{
    background-image: url(assets/box_bento/figma\ entier.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    transition: transform 0.4s;
}
.box4:hover{
    transform: scale(1.05);
}
.box5{
    background-image: url(assets/box_bento/affinity\ final.jpg);
    border-radius: 20px;
   
    background-size: 568px 200px;
    transition: transform 0.4s;
}
.box5:hover{
    transform: scale(1.05);
}

.containerBento{
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5";
}
.boxAw a{
    z-index: 999;
    color: #fff;
    padding: 2rem;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.boxAw{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: rgb(36, 36, 36);
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    
}
.boxAw::before{
    position: absolute;
    content: '';
    top: 0;
    left: -125px;
    height: 100%;
    width: 200%;
    background: linear-gradient(45deg, #ff8906, #f25f4c, #e53170);
    transform: translateX(-100%) skew(40deg);
    transition: transform 0.2s linear;
}
.boxAw:hover::before{
    transform: translateX(50%) skew(40deg);
}
.margincontact{
    margin-top: 46px;
    margin-bottom: 46px;
}
.blobcontact{
    width: 100px;
    position: absolute;
    left: 80px;
    top: 147rem;
    z-index: -1;
}.blobskills{
    width: 100px;
    position: absolute;
    left: 80px;
    top: 112rem;
    z-index: -1;
}

@keyframes anime {
    from {
        transform: translate(-1%, -50%);
    }
}

@media screen and (max-width: 768px) {
    .cardWrapper {
        margin: 0 10px 25px;
    }

    .cardWrapper .swiper-slide-button {
        display: none;
    }
}